/* External clock */
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

/* I2C */
IO_LOC "sda" P13;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "scl" T14;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

/* HW_DBG */
IO_LOC  "hw_dbg[0]"    R12;
IO_PORT "hw_dbg[0]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[1]"    R13;
IO_PORT "hw_dbg[1]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[2]"    M15;
IO_PORT "hw_dbg[2]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[3]"    F13;
IO_PORT "hw_dbg[3]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
