IO_LOC "clk" 51;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "pps" 35;
IO_PORT "pps" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "slow_clk" 49;
IO_PORT "slow_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;