/* External clock */
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

/* Reset button */
IO_LOC "rst_btn_n" T2;
IO_PORT "rst_btn_n" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

/* Memory mapped leds */
IO_LOC "leds[0]" F10;
IO_PORT "leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[1]" D11;
IO_PORT "leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[2]" D10;
IO_PORT "leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[3]" E10;
IO_PORT "leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[4]" R7;
IO_PORT "leds[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[5]" P7;
IO_PORT "leds[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

/* GPIO */
IO_LOC  "gpio[0]"    T13;
IO_PORT "gpio[0]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[1]"    M11;
IO_PORT "gpio[1]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[2]"    C16;
IO_PORT "gpio[2]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[3]"    F12;
IO_PORT "gpio[3]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[4]"    L15;
IO_PORT "gpio[4]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[5]"    G13;
IO_PORT "gpio[5]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "gpio[6]"    J13;
IO_PORT "gpio[6]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;

/* HW_DBG */
IO_LOC  "hw_dbg[0]"    R12;
IO_PORT "hw_dbg[0]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[1]"    R13;
IO_PORT "hw_dbg[1]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[2]"    M15;
IO_PORT "hw_dbg[2]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "hw_dbg[3]"    F13;
IO_PORT "hw_dbg[3]"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
