/* External clock */
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

/* Reset button */
IO_LOC "rst_btn_n" 4;
IO_PORT "rst_btn_n" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

/* Memory mapped leds */
IO_LOC "leds[0]" 10;
IO_PORT "leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[1]" 11;
IO_PORT "leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[2]" 13;
IO_PORT "leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[3]" 14;
IO_PORT "leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[4]" 15;
IO_PORT "leds[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "leds[5]" 16;
IO_PORT "leds[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

/* UART */
IO_LOC  "tx_gpio" 48;
IO_PORT "tx_gpio" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "rx_gpio" 49;
IO_PORT "rx_gpio" IO_TYPE=LVCMOS33 PULL_MODE=UP;

/* LCD IOs */
IO_LOC "lcd_red[0]" 75;
IO_PORT "lcd_red[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_red[1]" 74;
IO_PORT "lcd_red[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_red[2]" 73;
IO_PORT "lcd_red[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_red[3]" 72;
IO_PORT "lcd_red[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_red[4]" 71;
IO_PORT "lcd_red[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_green[0]" 70;
IO_PORT "lcd_green[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_green[1]" 69;
IO_PORT "lcd_green[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_green[2]" 68;
IO_PORT "lcd_green[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_green[3]" 57;
IO_PORT "lcd_green[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_green[4]" 56;
IO_PORT "lcd_green[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_green[5]" 55;
IO_PORT "lcd_green[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_blue[0]" 54;
IO_PORT "lcd_blue[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_blue[1]" 53;
IO_PORT "lcd_blue[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_blue[2]" 51;
IO_PORT "lcd_blue[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_blue[3]" 42;
IO_PORT "lcd_blue[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_blue[4]" 41;
IO_PORT "lcd_blue[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_dclk" 35;
IO_PORT "lcd_dclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_de" 33;
IO_PORT "lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_hsync" 40;
IO_PORT "lcd_hsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_vsync" 34;
IO_PORT "lcd_vsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;